.box1{
	width: 100px;
	height: 100px;
    background-color: red;
}
.box2{
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 100px 50px;
}
.box3{
	width: 100px;
	height: 100px;
    background-color: red;
    padding: 40px 60px 100px;
}
.box4{
	width: 100px;
	height: 100px;
    background-color: yellow;
    padding: 40px ;
    border: 20px solid black;
    margin: 30px;
}